h1 {
  font-size: 20px;
}

h4 {
  padding-top: 0px;
  padding-bottom: 20px;
  text-align: left;
  text-decoration: none;
  font-size: 35px;
  color: #F48484;
}

h3 {
  padding-top: 0px;
  padding-bottom: 30px;
  font-size: 15px;
  color: #454545;
}

p {
  font-size: 15px;
  color: #454545;
}

textarea {
  width: 405px;
  height: 150px;
  padding-left: 10px;
  padding-right: 0px;
  padding-top: 15px;
  padding-bottom: 0px;
  margin-bottom: 20px;
  margin-top: 10px;
  background-color: #E8D2A6;
  background-size: none;
  background-attachment: none;
  border-color: #F48484;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
}

.titulo {
  text-align: center;
  text-decoration: none;
  color: #454545;
  font-size: 30px;
}

.envio {
  text-align: center;
  text-decoration: none;
  width: 10;
  height: 10px;
}

.carrito {
  float: right;
}

.contenedor {
  padding-top: 60px;
  padding-bottom: 60px;
  width: 90%;
  height: none;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.sobre {
  float: left;
}

.sobrenosotros {
  display: flex;
  justify-content: space-evenly;
}

.sobreimagen {
  width: 48%;
  height: none;
}

.sobreustexto {
  width: 48%;
  height: none;
}
.sobreustexto .mejores-productos, .sobreustexto .objetivo {
  padding-top: 30px;
  padding-bottom: 15px;
  text-align: justify;
  text-decoration: none;
  font-weight: 300;
  color: black;
}
.sobreustexto .objetivo {
  font-size: 20px;
  color: black;
}
.sobreustexto h3 {
  margin-bottom: 15px;
  margin-top: none;
}
.sobreustexto h3 .los-mejores-productos, .sobreustexto h3 .nuestro-objetivo {
  background-color: #E0F9B5;
  background-size: none;
  background-attachment: none;
  text-align: center;
  text-decoration: none;
  width: 30px;
  height: 30px;
  padding-left: 2px;
  padding-right: 2px;
  margin-right: 5px;
  margin-left: none;
  color: #89375F;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}
.sobreustexto h3 .nuestro-objetivo {
  color: #89375F;
  background-color: #E8D2A6;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}
.container img {
  width: 25px;
  height: none;
}

.footer p {
  color: #E8D2A6;
}

.sobreimagenes, .sobreimagenes2 {
  width: 350px;
  height: none;
}

.contact_form {
  width: 460px;
  height: auto;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #E8D2A6;
  background-size: none;
  background-attachment: none;
  padding-left: 30px;
  padding-right: none;
  margin: 80px auto;
  border-radius: 10px;
}

.formulario input:focus {
  outline: 0;
  border: 1px solid #E0F9B5;
}

.formulario textarea:focus {
  outline: 0;
  border: 1px solid #E0F9B5;
}

.aviso {
  font-size: 15px;
  color: #454545;
}

.navbar navbar-expand-lg bg-body-tertiary {
  background-color: aqua;
}

.grid-one {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px, 300px, 100px, 300px;
  justify-items: center;
}
.grid-one p {
  font-size: 30px;
}
.grid-one img {
  width: 460px;
  height: 250px;
}

.grid-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100px, 300px, 100px, 300px;
  justify-items: center;
}
.grid-two p {
  font-size: 30px;
}
.grid-two img {
  width: 460px;
  height: 250px;
}

nav {
  text-align: center;
  text-decoration: none;
  padding-left: 0px;
  padding-right: 50px;
  padding-top: 5px;
  padding-bottom: 0px;
}

nav > a {
  text-align: none;
  text-decoration: none;
  margin-right: 10px;
  margin-left: 0px;
  color: #E8D2A6;
  font-size: 30px;
  display: block;
}

nav > a:hover {
  text-decoration: underline;
}

button {
  width: 420px;
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  background-color: #F48484;
  background-size: none;
  background-attachment: none;
  border-color: #F48484;
  border-style: solid;
  border-radius: 10px;
  border-width: 0px;
  text-transform: uppercase;
  cursor: pointer;
}
button p {
  color: #E8D2A6;
}

table {
  border: #454545;
}
table p {
  text-align: center;
  padding: 50px 50px 0 0;
  font-size: xx-large;
}

input {
  background-color: #E8D2A6;
  background-size: none;
  background-attachment: none;
  width: 408px;
  height: 40px;
  border-color: #F48484;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  margin-bottom: 20px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: none;
}

header {
  width: 100%;
  height: 200px;
  background-color: #A5DEE5;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  background-color: #454545;
  background-size: none;
  background-attachment: none;
  padding: 60px 0;
}

body {
  width: 100%;
  height: none;
  background-color: #F48484;
  background-size: none;
  background-attachment: none;
  font-family: "Noto Sans", sans-serif;
}

label {
  display: block;
  float: center;
}

span {
  color: #F48484;
}

@media (max-width: 2600px) {
  h1 {
    color: #454545;
    font-size: 20px;
  }
  h2 {
    font-size: 30px;
    text-align: center;
    display: block;
    color: #454545;
  }
  .titulo {
    font-size: 50px;
    color: #454545;
  }
  .sobreustexto h3 {
    font-size: 25px;
    color: black;
  }
  .sobreustexto p {
    font-size: 15px;
    color: black;
  }
  body {
    background-color: #F48484;
  }
  .sobreimagenes, .sobreimagenes2 {
    width: 75%;
  }
  .grid-one {
    grid-template-rows: 75%, 75%, 75%, 75%;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
  .grid-one .sobreimagenes, .grid-one .sobreimagenes2 {
    width: 75%;
  }
  .grid-two {
    grid-template-rows: 75%, 75%, 75%, 75%;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .grid-two .sobreimagenes, .grid-two .sobreimagenes2 {
    width: 75%;
  }
}
@media (max-width: 1440px) {
  h1 {
    color: #454545;
    font-size: 20px;
  }
  h2 {
    font-size: 30px;
    text-align: center;
    display: block;
    color: #454545;
  }
  .titulo {
    font-size: 50px;
    color: #454545;
  }
  .sobreustexto h3 {
    font-size: 25px;
    color: black;
  }
  .sobreustexto p {
    font-size: 15px;
    color: black;
  }
  body {
    background-color: #F48484;
  }
  .sobreimagenes, .sobreimagenes2 {
    width: 75%;
  }
  .grid-one {
    grid-template-rows: 75%, 75%, 75%, 75%;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
  .grid-one .sobreimagenes, .grid-one .sobreimagenes2 {
    width: 75%;
  }
  .grid-two {
    grid-template-rows: 75%, 75%, 75%, 75%;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .grid-two .sobreimagenes, .grid-two .sobreimagenes2 {
    width: 75%;
  }
}
@media (max-width: 1024px) {
  h1 {
    color: #454545;
    font-size: 20px;
  }
  h2 {
    font-size: 30px;
    text-align: center;
    display: block;
    color: #454545;
  }
  .titulo {
    font-size: 50px;
    color: #454545;
  }
  .sobreustexto h3 {
    font-size: 25px;
    color: black;
  }
  .sobreustexto p {
    font-size: 15px;
    color: black;
  }
  body {
    background-color: #F48484;
  }
  .sobreimagenes, .sobreimagenes2 {
    width: 75%;
  }
  .grid-one {
    grid-template-rows: 75%, 75%, 75%, 75%;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
  .grid-one .sobreimagenes, .grid-one .sobreimagenes2 {
    width: 75%;
  }
  .grid-two {
    grid-template-rows: 75%, 75%, 75%, 75%;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .grid-two .sobreimagenes, .grid-two .sobreimagenes2 {
    width: 75%;
  }
}
@media (max-width: 768px) {
  h1 {
    color: #454545;
    font-size: 20px;
  }
  h2 {
    font-size: 30px;
    text-align: center;
    display: block;
    color: #454545;
  }
  .titulo {
    font-size: 50px;
    color: #454545;
  }
  .sobreustexto h3 {
    font-size: 25px;
    color: black;
  }
  .sobreustexto p {
    font-size: 15px;
    color: black;
  }
  body {
    background-color: #F48484;
  }
  .sobreimagenes, .sobreimagenes2 {
    width: 75%;
  }
  .grid-one {
    grid-template-rows: 75%, 75%, 75%, 75%;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
  .grid-one .sobreimagenes, .grid-one .sobreimagenes2 {
    width: 75%;
  }
  .grid-one p {
    font-size: 90%;
    text-align: center;
    padding: 10%;
  }
  .grid-one .grid-two {
    grid-template-rows: 75%, 75%, 75%, 75%;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .grid-one .grid-two .sobreimagenes, .grid-one .grid-two .sobreimagenes2 {
    width: 75%;
  }
}
@media (max-width: 720px) {
  h1 {
    color: #454545;
    font-size: 11px;
  }
  .carrito {
    display: none;
  }
  h2 {
    margin: 1%;
    font-size: 20px;
    text-align: center;
    color: #454545;
  }
  .sobreustexto h3 {
    font-size: 25px;
    color: black;
  }
  .sobreustexto p {
    font-size: 15px;
    color: black;
  }
  .titulo {
    font-size: 35px;
    color: #454545;
  }
  .sobreimagen {
    display: none;
  }
  body {
    background-color: #F48484;
  }
  .sobreimagenes, .sobreimagenes2 {
    width: 75%;
  }
  .sobrenosotros p {
    font-size: 90%;
    text-align: center;
    padding: 10%;
  }
  .contact_form {
    width: 90%;
  }
  #nombre {
    width: 90%;
  }
  #email {
    width: 90%;
  }
  #telefono {
    width: 90%;
  }
  #mensaje {
    width: 90%;
  }
  #enviar {
    width: 90%;
  }
  .grid-one {
    grid-template-rows: 75%, 75%, 75%, 75%;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
  .grid-one .sobreimagenes, .grid-one .sobreimagenes2 {
    width: 75%;
  }
  .grid-one p {
    font-size: 90%;
    text-align: center;
    padding: 10%;
  }
  .grid-one .grid-two {
    grid-template-rows: 75%, 75%, 75%, 75%;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .grid-one .grid-two .sobreimagenes, .grid-one .grid-two .sobreimagenes2 {
    width: 75%;
  }
}
@media (max-width: 480px) {
  h1 {
    color: #454545;
    font-size: 11px;
  }
  .carrito {
    display: none;
  }
  h2 {
    margin: 1%;
    font-size: 20px;
    text-align: center;
    color: #454545;
  }
  .sobreustexto h3 {
    font-size: 25px;
    color: black;
  }
  .sobreustexto p {
    font-size: 15px;
    color: black;
  }
  .titulo {
    font-size: 35px;
    color: #454545;
  }
  .sobreimagen {
    display: none;
  }
  body {
    background-color: #F48484;
  }
  .sobreimagenes, .sobreimagenes2 {
    width: 75%;
  }
  .sobrenosotros p {
    font-size: 90%;
    text-align: center;
    padding: 10%;
  }
  .contact_form {
    width: 90%;
  }
  #nombre {
    width: 90%;
  }
  #email {
    width: 90%;
  }
  #telefono {
    width: 90%;
  }
  #mensaje {
    width: 90%;
  }
  #enviar {
    width: 90%;
  }
  .grid-one {
    grid-template-rows: 75%, 75%, 75%, 75%;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
  .grid-one .sobreimagenes, .grid-one .sobreimagenes2 {
    width: 75%;
  }
  .grid-one p {
    font-size: 90%;
    text-align: center;
    padding: 10%;
  }
  .grid-one .grid-two {
    grid-template-rows: 75%, 75%, 75%, 75%;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .grid-one .grid-two .sobreimagenes, .grid-one .grid-two .sobreimagenes2 {
    width: 75%;
  }
}

/*# sourceMappingURL=styles.css.map */
