button{
	@include ancho-y-largo(420px, 45px);
	@include padding-left-right(5px, 5px);
	@include margin-bottom-top(20px, 10px);
	@include background($rosa,none,none);
	@include border($rosa, solid, 10px, 0px);
	     text-transform: uppercase;
         cursor: pointer;
             p{
                    color: $blanco} 
        }