.titulo{
    @include text(center, none);
         color: $violeta;
         font-size: $tamanio-subtitulo;}
.envio{
    @include text(center, none);
    @include ancho-y-largo(10, 10px);}
.carrito{
         float: right;}
.contenedor{
    @include padding-top-bottom(60px, 60px);
    @include ancho-y-largo(90%, none);
         max-width: 1000px;
         margin: auto;
         overflow: hidden;}
.sobre{
         float: left;}
.sobrenosotros{
         display: flex;
         justify-content: space-evenly;}
.sobreimagen{
    @include ancho-y-largo(48%, none);}
.sobreustexto{
    @include ancho-y-largo(48%,none);
             p  {
                @include padding-top-bottom(30px, 15px);
                @include text(justify, none);
                    font-weight: 300;
                }
             h3 {
                @include margin-bottom-top(15px,none);
                 span{
                    @include background($violeta,none,none); 
                    @include text(center, none);
                    @include ancho-y-largo(30px,30px);
                    @include padding-left-right(2px,2px);
                    @include margin-right-left(5px,none);
                    color: $blanco;
                    border-radius: 50%;
                    display: inline-block;
                    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
                }
                }
            }
.container{
         max-width: 1000px;
         margin: 0 auto;
             img{
                   @include ancho-y-largo(25px,none);
                }
         }
.footer p{
         color: $blanco;}
.sobreimagenes{
        @include ancho-y-largo(350px, none)}
.contact_form{	
    @include ancho-y-largo(460px, auto);
    @include padding-top-bottom(30px, 20px);
    @include background($blanco,none,none);
    @include padding-left-right(30px,none);
         margin: 80px auto;
         border-radius: 10px;  }
.formulario input:focus{
         outline:0;
         border: 1px solid $verde;}
.formulario textarea:focus{
         outline:0;
         border: 1px solid $verde;}
.aviso{
         font-size: $tamanio-pequeno;  
         color: $negro;}