//Colores
        $rojo: red;
        $azul: blue;
        $violeta: violet;
        $blanco: white;
        $verde: rgb(63, 233, 63);
        $negro: black;
        $rosa: rgb(196, 50, 110);
        $celeste: rgb(55, 226, 203);
