//Colores
        $rojo: #F55050;
        $azul: #86A3B8;
        $violeta: #454545;
        $blanco: #E8D2A6;
        $verde: #E0F9B5;
        $negro: #454545;
        $rosa: #F48484;
        $celeste: #A5DEE5;
