input{
	     background-color: $blanco; 
	     width: 408px; 
	     height: 40px; 
	     border-radius: 5px;  
	     border-style: solid; 
	     border-width: 1px; 
	     border-color: $rosa; 
	     margin-top: 10px;  
	     padding-left: 10px;
         margin-bottom: 20px;}