header{
    @include ancho-y-largo(100%, 200px);
    @include background($celeste, cover, fixed);
         position: relative;}
body{
         font-family: $arial;}
footer{
    @include background($negro, none,none);
         padding: 60px 0;}
body{
    @include ancho-y-largo(100%,none);
    @include background($rosa,none,none);
         font-family: $sans;}