header{
         width: 100%;
         height: 200px;
         background-color: $celeste;
         background-size: cover;
         background-attachment: fixed;
         position: relative;}
body{
         font-family: $arial;}
footer{
         background-color: $negro;
         padding: 60px 0;}
body{
         height: 100%; 
         font-family: $sans;
         background-color: $rosa;}