nav{
    @include text(center, none);
    @include padding-left-right(0px, 50px);
    @include padding-top-bottom(5px, 0px);
}
nav > a{
    @include text(none, none);
    @include margin-right-left(10px, 0px);
    color: $blanco;
    font-size: $tamanio-subtitulo;
    display: block;
}
nav > a:hover{
    text-decoration: underline;
}