@import "mixin";
h1{
	     font-size: $tamanio-texto;}
h4{
    @include padding-top-bottom(0px, 20px);
    @include text(left, none);
         font-size: $tamanio-titulo;  
         color: $rosa;}
h3{
    @include padding-top-bottom(0px, 30px);
         font-size: $tamanio-pequeno; 
         color: $negro;}
p{
         font-size: $tamanio-pequeno; 
         color: $negro;}
textarea{
    @include ancho-y-largo(405px, 150px);
    @include padding-left-right(10px,0px);
    @include padding-top-bottom(15px,0px);
    @include margin-bottom-top(20px, 10px);
    @include background($blanco,none,none);
    @include border($rosa, solid, 5px, 1px);
        }