@import "colores";
@import "tipografia";
@import "medidas";
@import "texto";
@import "estructura";
@import "boxes";
@import "media";
@import "clases";
@import "navs";
@import "buttons";
@import "table";
@import "input";
@import "main";
@import "labelyspan";
