@import "colores";
@import "tipografia";
@import "medidas";
@import "texto";
@import "clases";
@import "navs";
@import "buttons";
@import "table";
@import "input";
@import "main";
@import "labelyspan";
@import "mixin";
@media (max-width: 2600px) {
  h1 {
    color: #454545;
    font-size: 20px;
  }
  h2 {
    font-size: 30px;
    text-align: center;
    display: block;
    color: #454545;
  }
  .titulo {
    font-size: 50px;
    color: #454545;
  }
  .sobreustexto h3 {
    font-size: 25px;
    color: black;
  }
  .sobreustexto p {
    font-size: 15px;
    color: black;
  }
  body {
    background-color: #F48484;
  }
  .sobreimagenes {
    width: 75%;
  }
  .grid-one{
    grid-template-rows: 75%,  75%, 75%,  75%;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    .sobreimagenes{
      width: 75%;
    }
  
  }
  .grid-two{
    grid-template-rows: 75%,  75%, 75%,  75%;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    .sobreimagenes{
      width: 75%;
    }
  
  }
}
@media (max-width: 1440px) {
  h1 {
    color: #454545;
    font-size: 20px;
  }
  h2 {
    font-size: 30px;
    text-align: center;
    display: block;
    color: #454545;
  }
  .titulo {
    font-size: 50px;
    color: #454545;
  }
  .sobreustexto h3 {
    font-size: 25px;
    color: black;
  }
  .sobreustexto p {
    font-size: 15px;
    color: black;
  }
  body {
    background-color: #F48484;
  }
  .sobreimagenes {
    width: 75%;
  }
  .grid-one{
    grid-template-rows: 75%,  75%, 75%,  75%;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    .sobreimagenes{
      width: 75%;
    }
  
  }
  .grid-two{
    grid-template-rows: 75%,  75%, 75%,  75%;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    .sobreimagenes{
      width: 75%;
    }
  
  }
}
@media (max-width: 1024px) {
    h1 {
      color: #454545;
      font-size: 20px;
    }
    h2 {
      font-size: 30px;
      text-align: center;
      display: block;
      color: #454545;
    }
    .titulo {
      font-size: 50px;
      color: #454545;
    }
    .sobreustexto h3 {
      font-size: 25px;
      color: black;
    }
    .sobreustexto p {
      font-size: 15px;
      color: black;
    }
    body {
      background-color: #F48484;
    }
    .sobreimagenes {
      width: 75%;
    }
    .grid-one{
      grid-template-rows: 75%,  75%, 75%,  75%;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      .sobreimagenes{
        width: 75%;
      }
    
    }
    .grid-two{
      grid-template-rows: 75%,  75%, 75%,  75%;
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
      .sobreimagenes{
        width: 75%;
      }
    
    }
  }
@media (max-width: 768px){
    h1 {
      color: #454545;
      font-size: 20px;
    }
    h2 {
      font-size: 30px;
      text-align: center;
      display: block;
      color: #454545;
    }
    .titulo {
      font-size: 50px;
      color: #454545;
    }
    .sobreustexto h3 {
      font-size: 25px;
      color: black;
    }
    .sobreustexto p {
      font-size: 15px;
      color: black;
    }
    body {
      background-color: #F48484;
    }
    .sobreimagenes {
      width: 75%;
    }
    .grid-one{
      grid-template-rows: 75%, 75%, 75%, 75%;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      .sobreimagenes{
        width: 75%;
      }
      p{
        font-size: 90%;
        text-align: center;
        padding: 10%;
      }
      .grid-two{
        grid-template-rows: 75%,  75%, 75%,  75%;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        .sobreimagenes{
          width: 75%;
        }
      
      }
  }
}
  @media (max-width: 720px) {
    h1 {
      color: #454545;
      font-size: 11px;
    }
    .carrito {
      display: none;
    }
    h2 {
      margin: 1%;
      font-size: 20px;
      text-align: center;
      color: #454545;
    }
    .sobreustexto h3 {
      font-size: 25px;
      color: black;
    }
    .sobreustexto p {
      font-size: 15px;
      color: black;
    }
    .titulo {
      font-size: 35px;
      color: #454545;
    }
    .sobreimagen {
      display: none;
    }
    body {
      background-color: #F48484;
    }
    .sobreimagenes {
        width: 75%;
      }
    .sobrenosotros p {
      font-size: 90%;
      text-align: center;
      padding: 10%;
    }
    .contact_form {
      width: 90%;
    }
    #nombre {
      width: 90%;
    }
    #email {
      width: 90%;
    }
    #telefono {
      width: 90%;
    }
    #mensaje {
      width: 90%;
    }
    #enviar {
      width: 90%;
    }
    .grid-one{
      grid-template-rows: 75%, 75%, 75%, 75%;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      .sobreimagenes{
        width: 75%;
      }
      p{
        font-size: 90%;
        text-align: center;
        padding: 10%;
      }
      .grid-two{
        grid-template-rows: 75%,  75%, 75%,  75%;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        .sobreimagenes{
          width: 75%;
        }
      
      }
  }
  }
  @media (max-width: 480px) {
    h1 {
      color: #454545;
      font-size: 11px;
    }
    .carrito {
      display: none;
    }
    h2 {
      margin: 1%;
      font-size: 20px;
      text-align: center;
      color: #454545;
    }
    .sobreustexto h3 {
      font-size: 25px;
      color: black;
    }
    .sobreustexto p {
      font-size: 15px;
      color: black;
    }
    .titulo {
      font-size: 35px;
      color: #454545;
    }
    .sobreimagen {
      display: none;
    }
    body {
      background-color: #F48484;
    }
    .sobreimagenes {
        width: 75%;
      }
    .sobrenosotros p {
      font-size: 90%;
      text-align: center;
      padding: 10%;
    }
    .contact_form {
      width: 90%;
    }
    #nombre {
      width: 90%;
    }
    #email {
      width: 90%;
    }
    #telefono {
      width: 90%;
    }
    #mensaje {
      width: 90%;
    }
    #enviar {
      width: 90%;
    }
    .grid-one{
      grid-template-rows: 75%, 75%, 75%, 75%;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      .sobreimagenes{
        width: 75%;
      }
      p{
        font-size: 90%;
        text-align: center;
        padding: 10%;
      }
      .grid-two{
        grid-template-rows: 75%,  75%, 75%,  75%;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        .sobreimagenes{
          width: 75%;
        }
      
      }
  }
  }